.aboutIn{
    font-size: 54px;
    font-weight: 800;
margin-bottom: 5%;


}
.aboutInh1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: left;
}
.aboutInp{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 2rem;
}